<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, assumenda?
    </div>
  </div>
</div>
<!-- Card aconatainer -->

<div class="card--container">

  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, assumenda?Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus, sed voluptatem reiciendis tenetur fuga neque porro
        necessitatibus ullam in quibusdam ducimus corporis? Aliquam reprehenderit saepe illum, totam
        deserunt
        quidem repellat?
      </div>
    </div>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, assumenda?Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus, sed voluptatem reiciendis tenetur fuga neque porro
        necessitatibus ullam in quibusdam ducimus corporis? Aliquam reprehenderit saepe illum, totam
        deserunt
        quidem repellat?
      </div>
    </div>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, assumenda?Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus, sed voluptatem reiciendis tenetur fuga neque porro
        necessitatibus ullam in quibusdam ducimus corporis? Aliquam reprehenderit saepe illum, totam
        deserunt
        quidem repellat?
      </div>
    </div>
  </div>

</div>