<div class="input-group">
    <input type="text" class="input" placeholder="Enter domain here...">
    <button class="btn btn--accent">Search</button>
</div>
<div class="input-group">
    <button class="btn btn--accent">Search</button>
    <input type="text" class="input" placeholder="Enter domain here...">
</div>
<div class="input-group">
    <input type="text" class="input" placeholder="Enter domain here...">
    <span class="icon--container">

        <svg class="icon icon--secondary">
            <use xlink:href="Image/sprite.svg#easy"></use>
        </svg>
    </span>
</div>
<div class="input-group">
    <span class="icon--container">

        <svg class="icon icon--secondary">
            <use xlink:href="Image/sprite.svg#easy"></use>
        </svg>

    </span>
    <input type="text" class="input" placeholder="Enter domain here...">
</div>