<div class="card testmoinial_container">
    <div class="grid grid-cols-2">
        <div class="testmoinial__image_container">
            <img src="./Image/Testmoinials.jpeg" alt=" Magnet Saurav Image with great smile" srcset="">

            <span class="icon--container icon--container--accent">
                <svg class="icon-small icon--white ">
                    <use xlink:href="Image/sprite.svg#quotes"></use>
                </svg>
            </span>

        </div>



        <blockquote class="quote">
            <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio
                officiis dolore earum error eaque perferendis laudantium sed praesentium
                dolorum.</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Image/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Magnet Saurav</h3>
                        <p class="quote__organization">Front-end Devloper</p>
                    </div>
                </div>
            </footer>
        </blockquote>

    </div>
</div>